@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";
@import "mobile.css";

/* 모든 element에 보더박스를 입힘, box안에 padding을 추가해도 box size가 바뀌지 않음 */
* {
    box-sizing: border-box;
}

body{
    background-color: white;
    padding: 10px 20px;
    color: #020202;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 부모의 색을 그대로 받는다. (보라 -> 검정), text-deco는 링크 밑줄*/
a {
    color: inherit;
    text-decoration: none;
}

/* 로드 될 때 아래에서 위로 ~ */
@keyframes fainIn {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

main{
    animation: fainIn 0.5s ease-in-out;
}

